@page "/ClasesT"
@using Actividad_18.Shared.Models
@inject HttpClient http
@inject NavigationManager navegar


<h3>Medidas Totales</h3>

<button class="btn btn-primary" @onclick=Agregar><span class="oi oi-plus"> Agregar Medida</span></button>

@if (lasclases == null)
{
    <h2>Cargando ...</h2>
}else if (lasclases.Count() == 0)
{
    <h2>No existen Registros</h2>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Encargado</th>
                <th>Id del Cliente</th>
                <th>Fecha de Nacimiento</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in lasclases)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Nombre</td>
                    <td>@i.Fecha</td>
                    <td>@i.Encargado</td>
                    <td>@i.ClientesId</td>
                    <td><button class="btn btn-warning" @onclick="(()=>cambiar(Convert.ToInt32(i.Id)))">Cambiar Datos</button></td>
                    <td><button class="btn btn-danger" @onclick="(()=>borrar(i))">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Clases> lasclases = new List<Clases>();

    protected override async Task OnInitializedAsync()
    {
        lasclases = await http.GetFromJsonAsync<List<Clases>>("api/Clases");
    }

    public void Agregar()
    {
        navegar.NavigateTo("/Clases/Nuevo");
    }

    private void cambiar(int Id)
    {
        navegar.NavigateTo($"/Clases/Editar/{Id}");
    }

    public async Task borrar(Clases c)
    {
        await http.DeleteAsync($"api/Clases/{c.Id}");
        lasclases.Remove(c);
    }
}
